/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a3641;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 20px;
  font-size: 1.5rem;
}

.footer-social li {
  margin-right: 1rem;
}

.footer-social a {
  text-decoration: none;
  color: white;
}

.footer-social li a.facebook:hover {
  color: #3b5998;
}

.footer-social li a.twitter:hover {
  color: #00acee;
}

.footer-social li a.youtube:hover {
  color: #c4302b;
}

.footer-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.footer-legal a {
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 14px;
  padding: 20px;
}

.footer-legal a:hover {
  color: white;
}

.footer-copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a3641;
  position: relative;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  font-size: 1.5rem;
  width: 300px;
}

.footer-social a {
  text-decoration: none;
  color: white;
}

.footer-social li a.facebook:hover {
  color: #3b5998;
}

.footer-social li a.twitter:hover {
  color: #00acee;
}

.footer-social li a.youtube:hover {
  color: #c4302b;
}

.footer-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.footer-legal a {
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 14px;
  padding: 20px;
}

.footer-legal a:hover {
  color: white;
}

.footer-copyright p {
  display: flex;
  text-decoration: none;
  font-size: 14px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* MEDIA QUERIES */

@media screen and (max-with: 1024px) {
  .footer-container {
    padding: 1.5rem;
  }

  .footer-legal,
  .footer-social {
    display: unset;
  }

  .copyright {
    display: flex;
    text-align: center;
  }

  main h1 {
    background: linear-gradient(to right, #0a3641, #40baf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  main h2 {
    background: linear-gradient(to right, #0a3641, #40baf9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  footer .footer_container {
    flex-direction: row;
  }

  footer .footer_container.flex {
    display: unset;
  }
}
