@font-face {
  font-family: "Arial";
  src: url(https://www.cssfontstack.com/Arial);
}

body {
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3,
p,
a,
footer {
  font-family: "Arial", sans-serif;
  color: #40baf9;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
  text-align: center;
}

nav ul {
  padding: 0px;
  text-align: center;
}

.active {
  background-color: #0a3641;
  color: #40baf9;
}

footer::before,
footer::after {
  content: " / ";
  color: #0a3641;
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  background-image: url(images/ManOnRock.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form__input {
  display: block;
  height: 400px;
  width: 400px;
}
