/* Media query for tablets and large phones*/

@font-face {
  font-family: "roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
}

html {
  scroll-behavior: smooth;
  height: 1579px;
}

body {
  background-image: url(../images/ManOnRock.jpg);
  background-size: 1920px 1579px;
}

header {
  text-align: center;
}

.logo {
  max-width: 400px;
  text-align: center;
}

h1,
h2,
h3,
p,
a,
footer {
  font-family: "Arial", sans-serif;
  color: #40baf9;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: #40baf9;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
  text-align: center;
}

nav ul {
  padding: 0px;
  text-align: center;
}

.active {
  background-color: #0a3641;
  color: #40baf9;
}

footer::before,
footer::after {
  content: "/";
  font-size: 30px;
  font-weight: bold;
  color: #40baf9;
}

.form__input {
  display: block;
}

@media only screen and (min-width: 600px) {
}
